$color-bg: #fff;
$color1: rgb(197, 197, 197);
$color2: rgb(221, 178, 223);

$color3: rgb(124, 153, 124);
$color4: #000;

$font: "Roboto", sans serif;

$color-titulo: #9956ad;
$dropdown-border-color: #ddb2df;