$color-bg: #fff;
$color1: #222222;
$color2: #705977;
$color4: #000;

$font: "Roboto", sans serif;

$color-titulo: #9956ad;
$dropdown-border-color: #ddb2df;
$toggle-button-color: #CDC0D1;

//PALETA DE COLORES
// $color-1: #C4CCDF;
// $color-2: #FFFFFF;
// $color-3: #F8E8EB;
// $color-4: #FFF1DA;
// $color-5: #FACDD0;
// $color-6: #CDC0D1;