@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

/******************* BOTON FLOTANTE *******************/
.botonFlotante {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.botonFlotante a img {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: scale(1, 1) ease;
          transform: scale(1, 1) ease;
  width: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.botonFlotante a img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

/******************* NAV  *******************/
header {
  background-color: #fff;
  font-family: "Roboto", sans serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 3;
  width: 100%;
}

.navbar-toggler-right {
  background-color: #CDC0D1 !important;
}

#nav1 li a {
  color: #222222;
  list-style-type: none;
  text-decoration: none;
  padding: 20px;
}

#nav1 li a:hover {
  color: #705977;
}

#nav1 ul li {
  display: inline-block;
}

.navbar__logo {
  width: 200px;
}

.nav-link {
  cursor: pointer;
}

/************************** DROPDOWN MENU ******************/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-top: 5px solid #ddb2df;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #9956ad;
  color: white !important;
}

/************************** IMÁGENES PRINCIPALES ******************/
.contenedorGallery {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  padding: 5px;
  margin-bottom: 50px;
  -ms-grid-columns: 1fr 300px 300px;
      grid-template-columns: 1fr 300px 300px;
  grid-auto-rows: minmax(300px, auto);
  gap: 5px;
}

.image01 {
  border: 1px solid #f1f1f1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  background-image: url("../images/1.png");
  background-color: #f3f3f3;
  background-size: cover;
  background-position: center;
}

.image02 {
  border: 1px solid #f1f1f1;
  -ms-grid-row: 2;
  grid-row: 2/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  background-image: url("../images/2.png");
  background-color: #f3f3f3;
  background-size: cover;
  background-position: center;
}

.image03 {
  border: 1px solid #f1f1f1;
  grid-area: "image3";
  background-image: url("../images/6.png");
  background-color: #f3f3f3;
  background-size: cover;
  background-position: center;
}

.image04 {
  border: 1px solid #f1f1f1;
  grid-area: "image4";
  background-image: url("../images/4.png");
  background-color: #f3f3f3;
  background-size: cover;
}

/*************** TINTAS ECOLOGICAS ***********/
.tintasEcologicas-contenedor {
  width: 100%;
  font-family: "Roboto", sans serif;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.tintasEcologicas-icono {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto 0px;
  padding: 20px;
}

.fas {
  font-size: 60px;
  color: #705977;
}

.tintasEcologicas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans serif;
}

.tintasEcologicas-titulo {
  font-size: 30px;
}

.tintasEcologicas-descripcion {
  width: 40%;
  text-align: center;
}

/*************** COMENTARIOS DE COMPRADORES ***********/
.comentarios-contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 20px;
  color: #000;
  font-size: 20px;
  font-family: "Roboto", sans serif;
}

.comentarios-contenedor .titulo {
  font-weight: bold;
  font-style: italic;
  font-size: 1.8rem;
  display: inline;
}

.comentarios-contenedor .comentario {
  padding: 30px;
  text-align: center;
  text-justify: newspaper;
}

.comentarios-contenedor .comentario img {
  width: 60px;
  margin: 0rem 0.8rem 0.5rem 0rem;
}

/************* BOTÓN PARA PERSONALIZAR PEDIDO *********/
.boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px;
}

.boton .btn {
  font-family: "Roboto", sans serif;
  color: #fff;
  background-color: #705977;
  border: none;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 15px;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}

.boton .btn:hover {
  background-color: #ddb2df;
  color: black;
}

.boton .personalizar-pedido-link {
  color: #fff;
  margin-bottom: 30px;
}

.boton .personalizar-pedido-link:hover {
  color: #000;
  text-decoration: none;
}

/************* PREGUNTAS FRECUENTES *********/
.preguntasFrecuentes {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.preguntasFrecuentes .preguntasFrecuentes__secciones {
  margin-bottom: 5rem;
}

.preguntasFrecuentes .preguntasFrecuentes__secciones h3 {
  color: #705977;
  font-weight: bolder;
  line-height: 1.2;
  font-size: 1.8rem;
}

.preguntasFrecuentes .preguntasFrecuentes__secciones p {
  color: #222222;
  font-size: 20px;
}

/**************** FOOTER *****************/
.footer-contenedor {
  width: 90%;
  margin: 0px auto;
  margin-top: 20px;
  border-top: 2px solid #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans serif;
}

.footer-titulo {
  margin-top: 8px;
  font-size: 22px;
  color: #222222;
}

.footer-iconos a {
  font-size: 50px;
  color: #705977;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  margin: 30px 5px 30px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-iconos a:hover {
  color: #705977;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/******************* TITULOS DE LOS MAS BUSCADOS *******************/
.titulo-paginas {
  color: #9956ad;
  font-size: 3rem;
  text-align: end;
  padding-right: 8px;
}

.titulo-paginas a {
  color: #9956ad;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  margin-right: 0.5rem;
}

.titulo-paginas a:hover {
  color: #ddb2df;
}

.footer-contenedor-pages {
  width: 90%;
  margin: 0px auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans serif;
}

/************************** IMÁGENES DE CADA PÁGINA ******************/
.contenedorGallery-brave {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  padding: 5px;
  margin-bottom: 50px;
  -ms-grid-columns: 2fr 2fr 1fr;
      grid-template-columns: 2fr 2fr 1fr;
  grid-auto-rows: minmax(300px, auto);
  gap: 5px;
}

.image1 {
  border: 1px solid #f1f1f1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-color: #f3f3f3;
  background-size: cover;
  background-position: center;
}

.image2 {
  border: 1px solid #f1f1f1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background-color: #f3f3f3;
  background-size: cover;
  background-position: center;
}

.image3 {
  border: 1px solid #f1f1f1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background-color: #f3f3f3;
  background-size: cover;
  background-position: center;
}

.image4 {
  border: 1px solid #f1f1f1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background-color: #f3f3f3;
  background-size: cover;
}

.image5 {
  border: 1px solid #f1f1f1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  background-color: #f3f3f3;
  background-size: cover;
}

.image-brave1 {
  background-image: url("../images/3.png");
}

.image-brave2 {
  background-image: url("../images/1.png");
}

.image-brave3 {
  background-image: url("../images/9.png");
}

.image-brave4 {
  background-image: url("../images/4.png");
}

.image-brave5 {
  background-image: url("../images/2-2.jpg");
}

.image-peru1 {
  background-image: url("../images/6.png");
}

.image-peru2 {
  background-image: url("../images/5-2.png");
}

.image-peru3 {
  background-image: url("../images/8.png");
}

.image-peru4 {
  background-image: url("../images/7.png");
}

/******************* MOBILE *******************/
@media only screen and (max-width: 768px) {
  /*************** GRID ***********/
  /*************** COMENTARIOS DE COMPRADORES ***********/
  .comentarios-contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comentarios-contenedor .comentario img {
    margin: 1rem 0rem;
  }
  /************* BOTÓN PARA PERSONALIZAR PEDIDO *********/
  .boton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 40px;
  }
  .boton .btn {
    width: 90%;
    padding: 15px 30px;
  }
  /******************* BOTON FLOTANTE *******************/
  .botonFlotante img {
    width: 5rem;
    display: none;
  }
  /*************** TINTAS ECOLOGICAS ***********/
  .tintasEcologicas-titulo {
    font-size: 30px;
    text-align: center;
  }
}

/******************* TABLET *******************/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /*************** GRID ***********/
  /*************** COMENTARIOS DE COMPRADORES ***********/
  .comentarios-contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .comentarios-contenedor .comentario img {
    margin: 0rem 0.3rem 0.5rem 0rem;
  }
}
/*# sourceMappingURL=estilos.css.map */